---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import ProcessusCategorie from '../components/ProcessusCategorie.astro';
import Selections from '../components/Selections.astro';
import Ateliers from '../components/Ateliers.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Formation en ligne. Apprenez et devenez un imfopreneur rentable">
	<main class=" overflow-hidden">
		<Header/>
		<ProcessusCategorie/>
		<Selections/>
		<Ateliers/>
		<CallToAction/>
		<Footer/>
	</main>
</Layout>


