---

---
<section class="bg-white w-full relative z-50 min-h-60 ">
    <div class="lg:w-[90%] md:w-[100%] sm:w-[100%] mx-auto flex md:justify-center sm:justify-center lg:justify-evenly flex-wrap gap-5 py-7">
        <div  class="sm:w-[80%] md:w-[80%] lg:w-[45%]     rounded-xl p-6 flex flex-col items-start space-y-3 bg-[#042D89] text-white">
             <img src="/devenir-formateur.png" alt="" class="w-32 h-32 object-cover">
             <h2 class=" font-bold">Devenir infopreneur</h2>
             <p>Devenez infopreneur chez Blemama et commencez à gagner des commissions sur chaque vente de formation que vous réalisez.</p>
             <button class="p-3 rounded-full text-center bg-blue hover:bg-red-500"><span><i class="ri-arrow-right-fill"></i></span>Démarrer</button>
        </div>
        <div class="sm:w-[80%] md:w-[80%] lg:w-[45%]  border-2 border-blue rounded-xl p-6 flex flex-col items-start space-y-3 bg-white text-blue">
            <img src="/devenir-infopreneur.png" alt="" class="w-32 h-32 object-cover">
            <h2 class=" font-bold">Devenir formateur</h2>
            <p>Vous avez l’expertise dans un domaine que vous aimeriez enseigner ? Devenez Formateur pour vendre votre savoir-faire.</p>
            <button class="p-3 rounded-full text-center bg-blue hover:bg-red-500 text-white"><span><i class="ri-arrow-right-fill"></i></span> Je m'inscris</button>
        </div>

    </div>

</section>