---

---
<footer class="w-full relative z-50 min-h-52 p-4 bg-[#19233C] gap-3 flex flex-wrap text-white justify-between items-center">
   
    <div class="flex flex-col justify-center items-start space-y-3">
        <div>
            <a href=""><img src="/logowhite.png" alt="" class="w-[200px]  object-cover"></a>
            <button class="sm:p-2 md:p-2 lg:p-3 border border-white rounded-full mx-auto font-[500] hover:bg-blue hover:border-blue"> <span class=" font-bold"><i class="ri-global-line"></i></span> Découvrir le BLOGS</button>
        </div>
        <div class="max-w-[500px]">
            <p class="text-white"> <span class="font-bold ">Blemama</span> est une plateforme qui vous permet à la fois de vous former en ligne et de monétiser votre savoir-faire.</p>
        </div>
        <ul class=" flex gap-4">
            <li><a href="/" class="text-xl"><i class="ri-facebook-box-fill"></i></a></li>
            <li><a href="/" class="text-xl"><i class="ri-instagram-fill"></i></a></li>
            <li><a href="/" class="text-xl"><i class="ri-twitter-fill"></i></a></li>
            <li><a href="/" class="text-xl"><i class="ri-whatsapp-fill"></i></a></li>
            <li><a href="/" class="text-xl"><i class="ri-mail-fill"></i></a></li>
        </ul>
        <p>Dévéloppé par <a href="https://amosfenousossoukpe.surge.sh/" target="_blank" class="text-[#FFF609] underline">Amos SOSSOUKPE</a></p>
    </div>
    <div>
        <img src="/paiement.png" alt="paiement image" class="">
    </div>
    <div>
        <div class=" flex flex-col space-y-3">
            <span class="text-center text-2xl"><i class="ri-run-fill"></i></span>
            <span>Vous avez du mal à choisir une formation ?</span>
            <span>Liam peut vous orienter !</span>
            <button class="sm:p-2 md:p-2 lg:p-3 border border-[#FFF609] text-[#FFF609] rounded-full mx-auto font-[500] hover:bg-red-500 hover:text-white hover:border-red-500">je veux une orientation</button>
        </div>
    </div>
    

</footer>
<p class="bg-[#042D89] w-full py-1"></p>