---
import Nav from "./Nav.astro"
---
 <header class="w-full h-[calc(100vh-8rem)] ">
    <div class=" h-full w-full relative" >
     <img src="/background.jpg" alt="" class="h-[calc(100vh-8rem)] w-full object-cover fixed inset-0">
     <div class="absolute inset-0 bg-secondary bg-opacity-80 h-full flex flex-col pb-3">
        <Nav/>

        <div class=" m-auto text-white w-full flex flex-col  justify-center gap-6 p-1">
            <h1 class=" text-center sm:text-2xl md:text-5xl lg:text-5xl font-bold">Avec Blemama,</h1>
            <p class=" text-center text-xl">Apprenez un nouveau métier ou Vendez vos savoir-faire.</p>
            <button class="sm:p-2 md:p-2 lg:p-3 border border-white rounded-full mx-auto font-[500] hover:bg-blue hover:border-blue"> <span class=" font-bold"><i class="ri-search-line"></i></span> Parcourir tout le catalogue de Formations</button>
        </div>
        
     </div>
    </div>
    
   
    
    
    

 </header>